/* General */

html, body {
    height: 100%;
}

body {
    background-color:#f23d6a;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    display: block;
    font-size: 20px;
    background: white; 
    border: 10px solid #ffa526;
    overflow: hidden; 
}

/* Sections under Game window */

.sectionHead {
    font-family:Press Start 2P;
    font-size: 60px;
    text-align:center
}

.bullets {
    font-family:Press Start 2P;
    padding-left: 0.5%;
    font-size: 25px;
}

.patchNotes {
    background-color: #ffa526;
    border: 2px solid #fff04d;
    padding-bottom: 1%;
}

.controls {
    background-color: #fff04d;
    border: 2px solid #ffffff;
    padding-bottom: 1%;
}

.gameplay {
    background-color: #7ae645;
    border: 2px solid #eaff80;
    padding-bottom: 1%;
}

.roadmap {
    background-color: #24d0f2;
    border: 2px solid #4dffd2;
    padding-bottom: 1%;
}

.colors {
    background-color: #cee9f2;
    border: 2px solid #ffffff;
    padding-bottom: 1%;
}

.credits {
    background-color: #a173ff;
    border: 2px solid #ee99ff;
    padding-bottom: 1%;
}

.thankyou {
    background-color: #ff80d5;
    border: 2px solid #ff80d5;
    padding-bottom: 1%;
}


/* End Sections under Game window */